.wrap {
  width: 1200px;
  margin: 0 auto;
}

.messages {
  border: black 2px;
  height: 400px;
  overflow-y: auto;
}

.mainForm {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding: 1px;
}

.loginForm {
  margin: 0 auto;
  position: relative;
  top: 35%;
  width: 200px;
}

.loginForm h3 {
  margin: 0;
  font-size: 25px;
  text-align: center;
}

.loginForm input {
  text-align: center;
  margin-left: 13px;
}

.loginForm button {
  height: 20px;
  width: 110px;
  margin-left: 45px;
}

p {
  margin: 4px;
}

.input input{
  text-align: center;
  width: 100%;
  height: 20px;
}